<div class="container">
    <div class="animation-container">
        <img src="../../assets/FC_logo_block.png" alt="" class="logo-block logo-block1">
        <img src="../../assets/FC_logo_block.png" alt="" class="logo-block logo-block2">
        <img src="../../assets/FC_logo_block.png" alt="" class="logo-block logo-block3">
        <img src="../../assets/FC_logo_gradient_block.png" alt="" class="logo-block logo-block4">
    </div>
    
    <div class="message-container">
        <div class="message message1">Fundamental Library</div>
        <div class="message message2">presents</div>
        <div class="message message3">Fundamental Conference</div>
    </div>
</div>
