body {
    background-color: #3B6FC1;
    font-family: '72', sans-serif;
}

:root {
    --border-color: #E5E5E5;
    --footer-color: #ACD7F7;
    --pink-bubble: #DE4189;
    --pink-bubble-background: #FCE9F2;
    --green-bubble: #84A52E;
    --green-bubble-background: #F3F4EF;
    --yellow-bubble: #D28833;
    --yellow-bubble-background: #FDF3E8;
    --blue-bubble: #6D74DD;
    --blue-bubble-background: #ECEDF8;
    --purple-bubble: #9766CE;
    --purple-bubble-background: #F9EBF6;
    --grey-bubble: #6E818E;
    --grey-bubble-background: #ECEDF8;
    --sapphire-bubble: #3A79B7;
    --sapphire-bubble-background: #EAF2FA;
    --footerHeight: 50px;
    --headerHeight: 100px;
}

.container {
    height: 90vh;
    width: 90vw;
    margin: auto;
    margin-top: 5vh;
    background-color: #FFFFFF;
    border: 2px solid var(--border-color);
    position: relative;
}

/* Styles for header */
.header {
    height: var(--headerHeight);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-color);
}

.logo {
    height: 100%;
    width: 100px;
}

.nav {
    height: 100%;
    width: 590px;
    display: flex;
    white-space: nowrap;
    /* letter-spacing: -1px; */
}

.agenda, .speaker, .volunteer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 55px;
    color: #000000;
    font-size: 14.26px;
}

a {
    color: #000000;
}

.nav-label {
    font-size: 14.26px;
    font-weight: bold;
}

/* Styles for main */
.main {
    width: 100%;
    height: calc(90vh - var(--footerHeight) - var(--headerHeight));
}

.upper {
    height: 47%;
    background-color: #ACD7F7;
    position: relative;
}

.intro {
    font-size: 5vh;
    position: absolute;
    top: 88px;
    left: 41px;
}

.lower {
    height: 33%;
    background-color: #64A4D4;
    position: relative;
}

.info {
    position: absolute;
    top: 52px;
    left: 41px;
}

.link {
    display: flex;
    margin-bottom: 31px;
}

.date, .broadcast {
    display: flex;
    flex-direction: column;
}

.date {
    margin-right: 53px;
}

/* Styles for footer */
.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    height: var(--footerHeight);
    width: 100%;
    background-color: var(--footer-color);
    border-top: 2px solid var(--border-color);
}

.company-logo {
    width: 50%;
    display: flex;
    align-items: center;
}

.company-logo img {
    height: 25px;
    margin-left: 43px;
}

.tag {
    font-size: 11px;
    margin-left: 19px;
}

.contact {
    width: 50%;
    display: flex;
}

.contact-tile {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-left: 2px solid var(--border-color);
}

/* Styles for marquee */
.marquee {
    height: 20%;    
    overflow: hidden;
    position: relative;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

.marquee-top, .marquee-bottom {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50%;
    margin: 0;
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    padding: 3px 40px;
    height: 4vh;
    width: fit-content;
    margin: 8px;
    border: 3px solid;
    border-radius: 26.5px;
    white-space: nowrap;
    text-transform: uppercase;
}

.pink {
    color: var(--pink-bubble);
    border-color: var(--pink-bubble);
    background-color: var(--pink-bubble-background);
}

.green {
    color: var(--green-bubble);
    border-color: var(--green-bubble);
    background-color: var(--green-bubble-background);
}

.yellow {
    color: var(--yellow-bubble);
    border-color: var(--yellow-bubble);
    background-color: var(--yellow-bubble-background);
}

.blue {
    color: var(--blue-bubble);
    border-color: var(--blue-bubble);
    background-color: var(--blue-bubble-background);
}

.sapphire {
    color: var(--sapphire-bubble);
    border-color: var(--sapphire-bubble);
    background-color: var(--sapphire-bubble-background);
}

.grey {
    color: var(--grey-bubble);
    border-color: var(--grey-bubble);
    background-color: var(--grey-bubble-background);
}

.purple {
    color: var(--purple-bubble);
    border-color: var(--purple-bubble);
    background-color: var(--purple-bubble-background);
}

.marquee-top {
    animation: scrollTop 20s linear infinite;
}

.marquee-bottom {
    flex-direction: row-reverse;
    animation: scrollBottom 20s linear infinite;
}

@keyframes scrollTop {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(-150vw);
    }
}

@keyframes scrollBottom {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(130vw);
    }
}

.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 3vw;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
    background: linear-gradient(to right, #eee 0%, transparent 100%);
}

.marquee:after {
    right: 0;
    background: linear-gradient(to left, #eee 0%, transparent 100%);
}