<div class="footer">
    <div class="find-us">
        <span class="label">FIND US</span>
        <a href="https://www.linkedin.com/company/sap-graph/" target="_blank">LinkedIn</a>
        <a href="https://twitter.com/fundamental_lib?lang=en" target="_blank">Twitter</a>
        <a href="https://www.youtube.com/channel/UCkq8zSSBngKze-rUypz0t2w" target="_blank">Youtube</a>
        <a href="https://community.sap.com/topics/fundamental-library" target="_blank">SAP Community</a>
        <a href="https://sap.github.io/fundamental/" target="_blank">Fundamental Library</a>
    </div>
    <div class="copyright">
        © Copyright SAP 2021
    </div>
</div>