<app-mobile-navbar (sideMenuToggled)="handleSideMenuToggle($event)"></app-mobile-navbar>

<div class="block" [ngClass]="{'half-size': halfSize}"></div>
<div class="date-banner" [ngClass]="{'half-size': halfSize}">
    <div class="day-label">{{ dayLabel }}</div>
    <div class="month-date-label">
        <div class="month-label">AUGUST</div>
        <div class="date-label">{{ altDateLabel }}</div>
    </div>
</div>
<div class="timezone-banner">{{ timezoneLabel }}</div>
<div class="agenda-container">
    <div class="session" *ngFor="let session of sessions; let i = index;">
        <div class="time-label">{{ getTimeLabel(i) }}</div>
        <div class="speaker-name">{{ session.name }}</div>
        <div class="session-title" [ngClass]="{'minor-session': session.minorSession, 'hangout-session': session.hangout}">{{ session.topic }}</div>
        <div class="session-description" [ngClass]="{'hangout-session': session.hangout}" *ngIf="!session.minorSession">
            <div class="text-description">{{ session.description }}</div>
            <div class="session-materials" *ngIf="session.slides || session.recording">
                <div class="material-label">Session Materials</div>
                <div class="material-buttons">
                    <a [href]="session.recording" target="_blank">
                        <img src="../../../assets/recording.png" alt="recording button icon">
                    </a>
                    <a [href]="getSlidesLink(session.name)" target="_blank" *ngIf="session.slides">
                        <img src="../../../assets/slides.png" alt="slides button icon">
                    </a>
                </div>
            </div>
        </div>
        <div class="speaker-bio">
            <img *ngIf="session.name" [src]="getImgSrc(session.name)" alt="speaker headshot" height="40" width="40">
            <div class="company">{{ session.company }}</div>
            <div class="title">{{ session.title }}</div>
            <div class="bio">{{ session.bio }}</div>
            <div class="social-media" *ngIf="session.twitter || session.linkedin">
                <a *ngIf="session.twitter" [href]="session.twitter" target="_blank">
                    <img src="../../../assets/twitter_icon_black.png" alt="speaker twitter" height="23px" width="23px">
                </a>
                <a *ngIf="session.linkedin" [href]="session.linkedin" target="_blank">
                    <img src="../../../assets/linkedin_icon_black.png" alt="speaker linkedin" height="23px" width="23px">
                </a>
            </div>
        </div>
        <div class="control-button" *ngIf="!session.minorSession">
            <img src="../../../assets/arrow.png" alt="session control arrow icon">
        </div>
    </div>
</div>

<app-mobile-footer></app-mobile-footer>
<app-side-menu 
    [sideMenu]="sideMenu"
    [halfSize]="halfSize">
    <span class="side-menu-label" routerLink="/">Home</span>
</app-side-menu>
