:root {
    --brand-color: ;
    --brand-color-alt: ;
    --dark-brand-color: ;
    --sapBackgroundContrastColor: ;
    --sapTextColor: #f5f6f7;
    --sapLinkColor: ;
    --textColor: #fff;
    --sapTextSecondaryColor: #c4c4c4;
    --successColor: #30914c;
  }
  