$header-height: 100px;
$footer-height: 50px;
$border-color: #E5E5E5;
$footer-color: #ACD7F7;
$pink-bubble: #DE4189;
$pink-bubble-background: #FCE9F2;
$green-bubble: #84A52E;
$green-bubble-background: #F3F4EF;
$yellow-bubble: #D28833;
$yellow-bubble-background: #FDF3E8;
$blue-bubble: #6D74DD;
$blue-bubble-background: #ECEDF8;
$purple-bubble: #9766CE;
$purple-bubble-background: #F9EBF6;
$grey-bubble: #6E818E;
$grey-bubble-background: #ECEDF8;
$sapphire-bubble: #3A79B7;
$sapphire-bubble-background: #EAF2FA;

.background {
    width: 100vw;
    height: 100vh;
    background-color: #3B6FC1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 90vh;
    width: 90vw;
    background-color: #FFFFFF;
    border: 2px solid $border-color;
    position: relative;
}

.header {
    height: $header-height;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $border-color;
}

.logo {
    height: 100%;
    width: 100px;
}

.nav {
    height: 100%;
    width: 590px;
    display: flex;
    white-space: nowrap;
}

.agenda, .speaker, .volunteer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 55px;
    color: #000000;
    font-size: 14.26px;
}

a {
    color: #000000;
}

.nav-label {
    font-size: 14.26px;
    font-weight: bold;
}

/* Styles for footer */
.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    height: $footer-height;
    width: 100%;
    background-color: $footer-color;
    border-top: 2px solid $border-color;
}

.company-logo {
    width: 50%;
    display: flex;
    align-items: center;
}

.company-logo img {
    height: 25px;
    margin-left: 43px;
}

.tag {
    font-size: 11px;
    margin-left: 19px;
}

.contact {
    width: 50%;
    display: flex;
}

.contact-tile {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-left: 2px solid $border-color;
}

/* Styles for main */
.main {
    width: 100%;
    height: calc(90vh - #{$footer-height} - #{$header-height});
}

.upper {
    height: 47%;
    background-color: #ACD7F7;
    position: relative;
}

.intro {
    font-size: 5vh;
    position: absolute;
    top: 88px;
    left: 41px;
}

.lower {
    height: 33%;
    background-color: #64A4D4;
    position: relative;
}

.info {
    position: absolute;
    top: 52px;
    left: 41px;
}

.link {
    display: flex;
    margin-bottom: 31px;
}

.date, .broadcast {
    display: flex;
    flex-direction: column;
}

.date {
    margin-right: 53px;
}


// /* Styles for marquee */
.marquee {
    height: 20%;    
    overflow: hidden;
    position: relative;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
}

.marquee-top, .marquee-bottom, .marquee-top-2, .marquee-bottom-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 50%;
    margin: 0;
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    padding: 3px 40px;
    height: 4vh;
    width: fit-content;
    margin: 8px;
    border: 3px solid;
    border-radius: 26.5px;
    white-space: nowrap;
    text-transform: uppercase;
}

.pink {
    color: $pink-bubble;
    border-color: $pink-bubble;
    background-color: $pink-bubble-background;
}

.green {
    color: $green-bubble;
    border-color: $green-bubble;
    background-color: $green-bubble-background;
}

.yellow {
    color: $yellow-bubble;
    border-color: $yellow-bubble;
    background-color: $yellow-bubble-background;
}

.blue {
    color: $blue-bubble;
    border-color: $blue-bubble;
    background-color: $blue-bubble-background;
}

.sapphire {
    color: $sapphire-bubble;
    border-color: $sapphire-bubble;
    background-color: $sapphire-bubble-background;
}

.grey {
    color: $grey-bubble;
    border-color: $grey-bubble;
    background-color: $grey-bubble-background;
}

.purple {
    color: $purple-bubble;
    border-color: $purple-bubble;
    background-color: $purple-bubble-background;
}

.marquee-top {
    animation: scrollTop 45s 0s linear infinite;
}

.marquee-top-2 {
    animation: scrollTop 45s -45s linear infinite;
}

.marquee-bottom {
    flex-direction: row-reverse;
    animation: scrollBottom 35s 0s linear infinite;
}
.marquee-bottom-2 {
    flex-direction: row-reverse;
    animation: scrollBottom 35s -70s linear infinite;
}

.first-row, .second-row {
    display: flex;
    justify-content: space-between;
}

@keyframes scrollTop {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(-180vw);
    }
}

@keyframes scrollBottom {
    from {
        transform: translateX(-180vw);
    }
    to {
        transform: translateX(130vw);
    }
}