    $brand-color-black: #1A1126;
    $brand-color-purple: #7B5CB2;
    $brand-color-blue: #69ADF8;
    $brand-color-light-blue:#82DEFF;
    $brand-color-silver: #E2EEFF;
    $brand-color-dark-blue:#2865BE;
    $brand-color-darkest-blue:#052E69;
    $text-color: #fff;
    $text-color-accent: #61A1FE;
    $text-color-dark: #052E69;
    // --sapBackgroundContrastColor: ;
    // --sapTextColor: #f5f6f7;
    // --sapLinkColor: ;
    // --textColor: #fff;
    // --sapTextSecondaryColor: #c4c4c4;
    // --successColor: #30914c;

  body, html, li, ul,ol {
    padding: 0;
    margin: 0;
    font-size:inherit; font-weight:inherit;
    list-style:none;
    text-decoration:none; 
    color:inherit; 
<<<<<<< HEAD
 
=======
>>>>>>> ef105d7 (small fixes)
   }

  html {
    scroll-behavior: smooth;
  }

  
   //mixing for different sizes
   @mixin for-size($size) {
    @if $size == max_width_599 {
      @media (max-width: 599px) { @content; }
    } @else if $size == min_width_600 {
      @media (min-width: 600px) { @content; }
    } @else if $size == min_width_900  {
      @media (min-width: 900px) { @content; }
    } @else if $size == min_width_1200 {
      @media (min-width: 1200px) { @content; }
    } @else if $size == min_width_1800  {
      @media (min-width: 1800px) { @content; }
    }
  }
    
   .fd_container {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;

   
    
   }
    
   .fd_background_silver {
    background-color:  $brand-color-silver;
    align-items: center;
    justify-content: center;
   }


 
   @media (prefers-reduced-motion: reduce) {
    *:not(svg, path) {
      animation: none !important;
      transition: none !important;
      transform: none !important;
    }
  }
   @media only screen and (orientation: landscape), (orientation: portrait) {
    html {
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
  
/*the rotation of the coming coon circles */
  
  #text{

    animation: rotate 20s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
        
      }
      @keyframes rotate {
        from {
          transform:rotateZ(0deg);
        }
        to {
           transform:rotateZ(360deg);
        }
      } 
    
  h3 {
    font-family: "Ubuntu";
  }
p, a{
  font-family: "Source Sans 3", "Arial", sans-serif;

}

.fd-app-container {
  height: 100vh;
  overflow-y: scroll;
}



    @import url(https://fonts.google.com/specimen/Ubuntu); 
  