$fullsize-logo: 55px;
$halfsize-logo: 32px;
$fullsize-menu: 75px;
$halfsize-menu: 50px;
$navbar: 60px;
$primary-text-color: #F9F9F9;
$navbar-text-color: #161616;
$menu-transition-time: 1s;

.header {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 100;
}

.menu {
    height: $fullsize-menu;
    background-color: black;
    display: flex;
    align-items: center;
    transition: all $menu-transition-time ease;
    &.half-size {
        height: $halfsize-menu;
    }
}

.menu-button {
    border: none;
    outline: none;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 20px;
    background-color: black;
    .line-top, .line-bottom {
        width: 18px;
        border: 1px solid $primary-text-color;
    }
    .line-top {
        margin-bottom: 8px;
    }
    .line-forward, .line-backward {
        width: 18px;
        border: 1px solid $primary-text-color;
    }
    .line-forward {
        transform: rotate(45deg);
        margin-bottom: -2px;
    }
    .line-backward {
        transform: rotate(-45deg);
    }
}

.logo {
    height: $fullsize-logo;
    margin-left: calc(50% - #{$fullsize-logo} * 0.5);
    transition: all $menu-transition-time ease;
    &.half-size {
        height: $halfsize-logo;
        margin-left: 10px;
    }
}

.title {
    position: absolute;
    left: 40px;
    color: $primary-text-color;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-left: 13px;
    opacity: 0;
    &.fly-in {
        opacity: 1;
        transition: all 0.2s $menu-transition-time ease;
    }
    &.fade-out {
        transform: translateX(100px);
        opacity: 0;
        transition: all 0.3s ease;
    }
}

.navbar {
    height: $navbar;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Overpass Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1px;
    .nav-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        border: 1px solid $navbar-text-color;
        padding: 0 10vw 0 10vw;
        &.active {
            color: $primary-text-color;
            background-color: $navbar-text-color;
        }
        @media screen and (max-width: 640px) {
            padding: 0 14px 0 14px;
        }
    }
    .top {
        width: 44px;
        padding: 0;
        .dot {
            height: 9px;
            width: 9px;
            border-radius: 50%;
            background-color: $navbar-text-color;
        }
        &.active {
            .dot {
                background-color: $primary-text-color;
            }
        }
    }
}

#date {
    .separator {
        border: 1px solid #A6A6A8;
        margin-left: 14px;
        margin-right: 14px;
        &:not(:first-child) {
            margin-top: 17px;
        }
        &:not(:last-child) {
            margin-bottom: 9px;
        }
    }
    .label {
        margin-left: 21px;
        font-family: 'Overpass Mono', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    .date-row {
        display: flex;
        align-items: flex-start;
        margin-top: 5px;
    }
    .time-display {
        margin-left: 21px;
        font-family: 'Inter', sans-serif;
        font-size: 44px;
        font-weight: 500;
    }
    .superscript {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        margin-left: 4px;
    }
    .intro {
        font-size: 22px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        margin: 5px 21px 0 21px;
        line-height: 27px;
    }
}

#info {
    .separator {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gradient-ball {
        height: 27px;
        width: 27px;
        animation: rotating 2s linear infinite;
        z-index: -1;
    }
    .cards {
        display: flex;
        flex-direction: column;
    }
    .card-header {
        height: 65px;
        display: flex;
        justify-content: center;
        color: $primary-text-color;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 500;
        padding-left: 21px;
        padding-top: 25px;
        z-index: -1;
        position: sticky;
    }
    .card-header1 {
        top: calc(#{$halfsize-menu} + #{$navbar});
    }
    .card-header2 {
        top: calc(#{$halfsize-menu} + #{$navbar} + 65px);
    }
    .card-header3 {
        top: calc(#{$halfsize-menu} + #{$navbar} + 130px);
    }
    .card-header1, .card-content1 {
        background-color: #DB6861;
    }
    .card-header2, .card-content2 {
        background-color: #CF476D;
    }
    .card-header3, .card-content3 {
        background-color: #654276;
    }
    .card-content {
        height: 310px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: -2;
    }
    .card-image {
        height: 250px;
        width: 240px;
    }
    .dash-separator {
        width: 20px;
        border: 1px solid $primary-text-color
    }
    .image-label {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: $primary-text-color;
        margin-top: 10px;
    }
}

#speaker {
    font-family: 'Inter', sans-serif;
    z-index: -1;
    .separator {
        width: 100%;
        padding: 6px 0 6px 0;
        border-top: 1px solid #A6A6A8;
        border-bottom: 1px solid #A6A6A8;
    }
    .label {
        margin-left: 21px;
        font-family: 'Overpass Mono', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    .wheel {
        height: 420px;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
    }
    .slot {
        height: 100%;
        width: 316px;
        flex-shrink: 0;
        &:not(:last-child) {
            margin-right: 7px;
        }
        position: relative;
        scroll-snap-align: start;
    }
    .photo {
        height: 345px;
        img {
            width: 100%;
            height: 345px;
        }
    }
    .intro-card {
        height: 89px;
        width: 222px;
        padding: 8px 0 0 12px;
        border: 1px solid #000000;
        border-radius: 10px;
        margin-top: -29px;
        margin-left: 22px;
        position: absolute;
        font-family: 'Inter', sans-serif;
        .id-label {
            font-size: 12px;
            font-weight: 400;
            opacity: 0.6;
        }
        .count-label {
            font-size: 10px;
            font-weight: 400;
            margin-left: 4px;
            opacity: 0.6;
        }
        .name {
            font-size: 22px;
            font-weight: 500;
            margin-top: 7px;
        }
        .speaker-title {
            font-size: 16px;
            margin-top: 2px;
            opacity: 0.6;
        }
    }
    .invite {
        margin: 38px auto 38px auto;
        width: 225px;
        height: 36px;
        padding: 15px;
        border: 1px solid $navbar-text-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            text-decoration: none;
            color: $navbar-text-color;
        }
        .dot {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $navbar-text-color;
        }
    }
}

.side-menu {
    width: 100vw;
    height: calc(100vh - #{$fullsize-menu});
    background-color: black;
    position: fixed;
    top: 75px;
    z-index: 100;
    transform: translateX(100vw);
    transition: all 0.5s cubic-bezier(0.6, 0.11, 1, 0.59);
    display: flex;
    flex-direction: column;
    &.show-side-menu {
        transform: translateX(0);
    }
    &.high-top {
        top: $halfsize-menu;
        height: calc(100vh - #{$halfsize-menu});
    }
    .route {
        height: 50%;
        margin-top: 15px;
        display: flex;
        flex-direction: column; 
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        opacity: 0;
        transform: translateX(50px);
        .route-block {
            margin-left: 21px;
            margin-bottom: 19px;
        }
        .label {
            font-size: 44px;
            color: $primary-text-color;
            &:last-child {
                opacity: 0.15;
            }
        }
        a {
            color: #A6A6A8;
            font-size: 22px;
            text-decoration: none;
            margin-top: 4px;
        }
        &.slide-in {
            animation: slideIn 0.2s linear forwards;
            animation-delay: $menu-transition-time;
        }
    }
    .separator {
        margin: 0 19px 0 19px;
        border: 1px solid #A6A6A8;
        transform: translateX(50px);
        opacity: 0;
        &.slide-in {
            animation: slideIn 0.2s linear forwards;
            animation-delay: $menu-transition-time;
        }
    }
    .find-us {
        display: flex;
        flex-direction: column;
        color: $primary-text-color;
        height: 50%;
        margin-left: 21px;
        margin-top: 10px;
        opacity: 0;
        transform: translateX(50px);
        span {
            font-family: 'Overpass Mono', sans-serif;
            font-size: 14px;
            margin-bottom: 20px;
        }
        a {
            font-family: 'Inter', sans-serif;
            font-size: 5vh;
            font-weight: 500;
            text-decoration: none;
            color: $primary-text-color;
            margin-bottom: 16px;
            &:last-child {
                padding-left: 45px;
                text-indent: -45px;
            }
        }
        &.slide-in {
            animation: slideIn 0.2s linear forwards;
            animation-delay: $menu-transition-time;
        }
    }
}

.block {
    height: calc(#{$navbar} + #{$fullsize-menu});
    transition: all $menu-transition-time ease;
    &.half-size {
        height: calc(#{$navbar} + #{$halfsize-menu});
    }
}

.footer {
    height: 160px;
    background-color: $navbar-text-color;
    color: $primary-text-color;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact {
        font-weight: 500;
        font-size: 16px;
        margin-top: 25px;
    }
    .social-media {
        width: 100%;
        margin: 20px 50px 0px 50px;
        display: flex;
        justify-content: space-around;
        .social-media-icon {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: $primary-text-color;
        }
    }
    .copyright {
        font-size: 10px;
        margin-top: auto;
        margin-bottom: 19px;
    }
}

#animation {
    position: relative;
    height: 50vh;
    margin-bottom: 60px;
    img {
        position: absolute;
    }
    .block1 {
        height: 7vw; width: 7vw; left: 15vw; top: 7.5vw;
    }
    .block2 {
        height: 7vw; width: 7vw; left: 55vw; top: 4vw;
    }
    .block-c {
        height: 90%; width: 35%; top: 8vw; right: 12%; z-index: 5;
    }
    .block-card {
        height: 50%; width: 20%; top: 50%; left: 40%; z-index: 10;
    }
    .block-f {
        height: 80%; width: 50%; top: 1vw; left: 3vw;
    }
    .block-name {
        width: 40%; bottom: 0;
    }
    @media screen and (max-width: 640px) {
        .block1 {
            height: 37px; width: 33px; left: 59px; top: 35px;
        }
        .block2 {
            height: 42px; width: 38px; left: 60%; top: 20px;
        }
        .block-c {
            height: 295px; width: 185px; top: 20%; right: 0;
        }
        .block-card {
            height: 192px; width: 119px; top: 144px; left: 135px;
        }
        .block-f {
            height: 240px; width: 233px; top: 14px;
        }
        .block-name {
            height: 50px; width: 193px; top: 80%; left: 0;
        }
    }
}

@keyframes slideIn {
    to {
        transform: translateX(0vw);
        opacity: 1;
    }
}
@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
