<div class="container">
    <div class="header">
        <div class="menu" [ngClass]="{'half-size': halfSize}">
            <img class="logo" [ngClass]="{'half-size': halfSize}" src="../../assets/FC_LOGO.png" alt="logo">
            <span class="title" [ngClass]="{'fly-in': halfSize, 'fade-out': !halfSize}">Fundamental<br>Conference</span>
            <button class="menu-button" (click)="toggleMenu()">
                <div *ngIf="!sideMenu" class="open-button">
                    <div class="line-top"></div>
                    <div class="line-bottom"></div>
                </div>
                <div *ngIf="sideMenu" class="close-button">
                    <div class="line-forward"></div>
                    <div class="line-backward"></div>
                </div>
            </button>
        </div>
        <div class="navbar">
            <div class="nav-box top" data-page="animation" (click)="scroll(animation)"><div class="dot"></div></div>
            <div class="nav-box" data-page="date" (click)="scroll(date)">DATE/TIME</div>
            <div class="nav-box" data-page="info" (click)="scroll(info)">INFO</div>
            <div class="nav-box" data-page="speaker" (click)="scroll(speaker)">SPEAKER</div>
        </div>
    </div>
    <div class="content">
        <div class="block" [ngClass]="{'half-size': halfSize}"></div>
        <section id="animation" #animation>
        
        </section>
        <section id="date" #date>
            <div class="separator"></div>
                <span class="label">DATE</span><br>
                <div class="date-row">
                    <span class="time-display">August 11</span>
                    <span class="superscript">2021</span>
                </div>
                
            <div class="separator"></div>
                <span class="label">TIME</span><br>
                <div class="date-row">
                    <span class="time-display">2 PM - 6 PM</span>
                    <span class="superscript">CEST</span>
                </div>
            <div class="separator"></div>
                <span class="label">ABOUT</span>
                <p class="intro">
                    A global virtual conference aiming to start a conversation concerning the future of front-end and 
                    design in the context of open-source, enterprise, cloud, development experience, inclusion, 
                    and user experience.
                </p>
            <div class="separator"></div>
        </section>
        <section id="info" #info>
            <div class="separator">
                <img class="gradient-ball" src="../../assets/GradientEllipse.png" alt="gradient-ball">
            </div>
            <!-- <div class="cards" style="height: 100vh;"></div> -->
            <div class="cards">
                <div class="card-header card-header1">Worldwide Online Event</div>
                <div class="card-content card-content1">
                    <img class="card-image" src="../../assets/FC_Worldwide.png" alt="worldwide online">
                </div>
                <div class="card-header card-header2">Open Audience</div>
                <div class="card-content card-content2">
                    <img class="card-image" src="../../assets/FC_Audience.png" alt="open audience">
                </div>
                <div class="card-header card-header3">Pre-recorded & Live Sessions</div>
                <div class="card-content card-content3">
                    <img class="card-image" src="../../assets/FC_Sessions.png" alt="sessions">
                </div>     
            </div>
            <div class="separator">
                <img class="gradient-ball" src="../../assets/GradientEllipse.png" alt="gradient-ball">
            </div>
        </section>
        <section id="speaker" #speaker>
        
        </section>
    </div>
    <div class="footer" #footer>
        <span class="contact">Contact Us</span>
        <div class="social-media">
            <div class="social-media-icon"></div>
            <div class="social-media-icon"></div>
            <div class="social-media-icon"></div>
            <div class="social-media-icon"></div>
        </div>
        <span class="copyright">© Copyright SAP 2021</span>
    </div>
</div>

<div class="side-menu" [ngClass]="{'show-side-menu': sideMenu, 'high-top': halfSize }">
    <div class="route">
        <div class="route-block">
            <span class="label">Speakers</span><br>
            <a href="https://forms.gle/EzEz2FHiawRPAi8d8" target="_blank">Apply to be a speaker</a>
        </div>
        <div class="route-block">
            <span class="label">Volunteers</span><br>
            <a href="https://forms.gle/QDUBq8eLE8a6gjre7" target="_blank">Apply to be a volunteer</a>
        </div>
        <div class="route-block">
            <span class="label">Agenda</span>
        </div>
    </div>
    <div class="separator"></div>
    <div class="find-us">
        <span>FIND US</span>
        <a href="https://www.linkedin.com/company/sap-graph/" target="_blank">LinkedIn</a>
        <a href="https://twitter.com/fundamental_lib?lang=en" target="_blank">Twitter</a>
        <a href="https://www.youtube.com/channel/UCkq8zSSBngKze-rUypz0t2w" target="_blank">YouTube</a>
        <a href="https://sap.github.io/fundamental/" target="_blank">Fundamental Library</a>
    </div>
</div>
