$fullsize-logo: 55px;
$halfsize-logo: 32px;
$fullsize-menu: 75px;
$halfsize-menu: 50px;
$navbar: 60px;
$primary-text-color: #F9F9F9;
$navbar-text-color: #161616;
$menu-transition-time: 1s;

.header {
    width: 100%;
    position: fixed;
    background-color: white;
}

.menu {
    height: $fullsize-menu;
    background-color: black;
    display: flex;
    align-items: center;
    transition: all $menu-transition-time ease;
    &.half-size {
        height: $halfsize-menu;
    }
}

.menu-button {
    border: none;
    outline: none;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 20px;
    background-color: black;
    .line-top, .line-bottom {
        width: 18px;
        border: 1px solid $primary-text-color;
    }
    .line-top {
        margin-bottom: 8px;
    }
    .line-forward, .line-backward {
        width: 18px;
        border: 1px solid $primary-text-color;
    }
    .line-forward {
        transform: rotate(45deg);
        margin-bottom: -2px;
    }
    .line-backward {
        transform: rotate(-45deg);
    }
}

.logo {
    height: $fullsize-logo;
    margin-left: calc(50% - #{$fullsize-logo} * 0.5);
    transition: all $menu-transition-time ease;
    &.half-size {
        height: $halfsize-logo;
        margin-left: 10px;
    }
}

.title {
    position: absolute;
    left: 40px;
    color: $primary-text-color;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-left: 13px;
    opacity: 0;
    &.fly-in {
        opacity: 1;
        transition: all 0.2s $menu-transition-time ease;
    }
    &.fade-out {
        transform: translateX(100px);
        opacity: 0;
        transition: all 0.3s ease;
    }
}

.navbar {
    height: $navbar;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Overpass Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1px;
    .nav-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 26px;
        border: 1px solid $navbar-text-color;
        padding: 0px 14px 0px 14px;
        &.active {
            color: $primary-text-color;
            background-color: $navbar-text-color;
        }
    }
    .top {
        width: 26px;
        padding: 0;
        .dot {
            height: 9px;
            width: 9px;
            border-radius: 50%;
            background-color: $navbar-text-color;
        }
        &.active {
            .dot {
                background-color: $primary-text-color;
            }
        }
    }
}

#date {
    .separator {
        border: 1px solid #A6A6A8;
        margin-left: 14px;
        margin-right: 14px;
        &:not(:first-child) {
            margin-top: 17px;
        }
        &:not(:last-child) {
            margin-bottom: 9px;
        }
    }
    .label {
        margin-left: 21px;
        font-family: 'Overpass Mono', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    .date-row {
        display: flex;
        align-items: flex-start;
        margin-top: 5px;
    }
    .time-display {
        margin-left: 21px;
        font-family: 'Inter', sans-serif;
        font-size: 44px;
        font-weight: 500;
    }
    .superscript {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        margin-left: 4px;
    }
    .intro {
        font-size: 22px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        margin: 5px 21px 0 21px;
        line-height: 27px;
    }
}

#info {
    .separator {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gradient-ball {
        height: 27px;
        width: 27px;
        animation: rotating 2s linear infinite;
        z-index: -1;
    }
    @keyframes rotating {
        from{
            -webkit-transform: rotate(0deg);
        }
        to{
            -webkit-transform: rotate(360deg);
        }
    }
    .cards {
        height: 80vh;
        background-color: tomato;
    }
}

.side-menu {
    width: 100vw;
    height: calc(100vh - #{$fullsize-menu});
    background-color: black;
    position: fixed;
    top: 75px;
    transform: translateX(100vw);
    transition: all 0.5s cubic-bezier(1, 0.02, 1, 0.59);
    display: flex;
    flex-direction: column;
    &.show-side-menu {
        transform: translateX(0);
    }
    &.high-top {
        top: $halfsize-menu;
        height: calc(100vh - #{$halfsize-menu});
    }
    .route {
        height: 50%;
        display: flex;
        flex-direction: column; 
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        .route-block {
            margin-left: 21px;
            margin-bottom: 19px;
        }
        .label {
            font-size: 44px;
            color: $primary-text-color;
            &:last-child {
                opacity: 0.15;
            }
        }
        a {
            color: #A6A6A8;
            font-size: 22px;
            text-decoration: none;
            margin-top: 4px;
        }
    }
    .separator {
        margin: 0 19px 0 19px;
        border: 1px solid #A6A6A8;
    }
    .find-us {
        display: flex;
        flex-direction: column;
        color: $primary-text-color;
        margin-left: 21px;
        margin-top: 10px;
        span {
            font-family: 'Overpass Mono', sans-serif;
            font-size: 14px;
            margin-bottom: 20px;
        }
        a {
            font-family: 'Inter', sans-serif;
            font-size: 44px;
            font-weight: 500;
            text-decoration: none;
            color: $primary-text-color;
            margin-bottom: 16px;
            &:last-child {
                padding-left: 45px;
                text-indent: -45px;
            }
        }
    }
}

.block {
    height: calc(#{$navbar} + #{$fullsize-menu});
    &.half-size {
        height: calc(#{$navbar} + #{$halfsize-menu});
    }
}

.footer {
    height: 160px;
    background-color: $navbar-text-color;
    color: $primary-text-color;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact {
        font-weight: 500;
        font-size: 16px;
        margin-top: 25px;
    }
    .social-media {
        width: 100%;
        margin: 20px 50px 0px 50px;
        display: flex;
        justify-content: space-around;
        .social-media-icon {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: $primary-text-color;
        }
    }
    .copyright {
        font-size: 10px;
        margin-top: auto;
        margin-bottom: 19px;
    }
}

// experiment
#animation {
    height: 100vh;
}
#speaker {
    height: 100vh;
}
