<div class="container">
  <div class="header">
    <div class="logo"></div>
    <div class="nav">        
      <div class="agenda">
        <span class="nav-label">AGENDA</span>
        Stay tuned for more info
      </div>
      <div class="speaker">
        <span class="nav-label">SPEAKER</span>
        <a href="https://forms.gle/yyT6ZyGa9UVytx2S9" target="_blank">Sign up as a speaker</a>
      </div>
      <div class="volunteer">
        <span class="nav-label">GET INVOLVED</span>
        <a href="https://forms.gle/Sd1yFcRxVzcigv3v8" target="_blank">Sign up as a volunteer</a>
      </div>
    </div>
  </div>
  
  <div class="main">
    <div class="upper">
      <div class="intro">Fundamental Conference is<br>a global virtual panel around<br>Fundamental Library.</div>
    </div>
    <div class="marquee">
      <ul class="marquee-top">
        <li class="bubble green">diversity</li>
        <li class="bubble yellow">design</li>
        <li class="bubble pink">development experience</li>
        <li class="bubble purple">front-end dev</li>
        <li class="bubble blue">performance</li>            
      </ul>
      <ul class="marquee-bottom">
          <li class="bubble pink">inclusion</li>
          <li class="bubble grey">enterprise</li>
          <li class="bubble sapphire">open source</li>
          <li class="bubble green">accessibility</li>
          <li class="bubble blue">user experience</li>      
      </ul>
    </div>
    <div class="lower">
      <div class="info">
        <div class="link">
          <div class="date">
            <span class="nav-label">DATE</span>
            August 11, 2021
          </div>
          <div class="broadcast">
            <span class="nav-label">JOIN US</span>
            Stay tuned
          </div>
        </div>
        <div class="message">
          We are inviting speakers to start a conversation about modern<br>
          enterprise design, user experience, and frontend development.
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="company-logo">
      <img src="assets/images/company-logo.svg" alt="SAP logo">
      <span class="tag">&copy; Copyright SAP 2020</span>
    </div>
    <div class="contact">
      <a href="mailto:fundamental@sap.com" class="contact-tile">EMAIL</a>
      <a href="https://twitter.com/fundamental_lib?lang=en" class="contact-tile" target="_blank">TWITTER</a>
      <a href="https://www.youtube.com/channel/UCkq8zSSBngKze-rUypz0t2w" class="contact-tile" target="_blank">YOUTUBE</a>
      <a href="https://www.linkedin.com/company/sap-graph/" class="contact-tile" target="_blank">LINKEDIN</a>
    </div>
  </div>
</div>