.desktop-placeholder {
    width: 100vw;
    height: 100vh;
}

.mobile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-placeholder {
    width: 100vw;
    height: 100vh;
}

.message {
    width: 237px;
    line-height: 21.6px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.5px;
    text-indent: 10px;
    position: absolute;
    bottom: 200px;
}

@media screen and (max-width: 640px) {
    .desktop-placeholder {
        display: none;
    }
}

@media screen and (min-width: 640px) {
    .mobile-container {
        display: none;
    }
}