@use '../../theme/theme.scss' as *;

$agenda-header-title-height: 140px;
$agenda-date-info-height: 40px;

.agenda-container {
    margin-top: $desktop-header-height;
    margin-bottom: 114px;
}

.agenda-date-info {
    height: $agenda-date-info-height;
    background-color: $primary-light-color;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    display: flex;
    position: sticky;
    top: $desktop-header-height;
    z-index: 10;
    .agenda-date-info-blank {
        width: 40%;
    }
    .agenda-date-info-block {
        color: $primary-dark-color;
        @include inter-font(22px, 500);
        padding: 0 34px 0 34px;
        letter-spacing: -1px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 2px solid #000000;
        &:last-child {
            border-right: 2px solid #000000;
        }
    }
}

.agenda-content {
    background-color: $primary-light-color;
}

.time-zone {
    height: 56px;
    color: #A6A6A8;
    @include inter-font(18px);
    border-bottom: 0.75px solid rgba(0, 0, 0, 0.5);
    padding-left: 160px;
    display: flex;
    align-items: center;
}

.session {
    position: relative;
    cursor: default;
    &.session-highlighted {
        border-top: 3px solid $primary-dark-color;
        border-bottom: 3px solid $primary-dark-color;
    }
    .session-info {
        padding-left: 160px;
        min-height: 50px;
        border-bottom: 0.75px solid rgba(0, 0, 0, 0.5);
        display: flex;
        &.minor-session {
            align-items: center;
        }
        .session-time {
            @include inter-font(18px, 600);
            margin-top: 16px;
            min-width: 50px;
            &.minor-session {
                display: flex;
                align-items: center;
                margin-top: 0;
            }
        }
        .session-speaker {
            @include inter-font(18px, 400);
            white-space: nowrap;
            margin-top: 16px;
            margin-left: 90px;
            min-width: 180px;
            opacity: 0.6;
        }    
    }
    
    .session-detail {
        .session-title {
            @include inter-font(36px);
            margin: 10px 100px 12px 150px;
            letter-spacing: -1px;
            cursor: pointer;
            display: flex;
            align-items: center;
            &.minor-session {
                @include inter-font(18px, 400);
                margin-top: 0;
                margin-bottom: 0;
                cursor: default;
            }
            &.hangout-session {
                @include inter-font(18px, 400);
                margin-top: 15px;
            }
        }
        .session-preview {            
            max-height: 0;
            max-width: 764px;
            overflow: hidden;
            margin-left: 150px;
            margin-right: 130px;
            transition: all 1s 0.3s ease-in-out;
            .text-preview {
                @include inter-font(16px);
                line-height: 20px;
                color: $primary-dark-color;
                opacity: 0.6;
            }
            .add-to-calendar {
                .calendar-section-label {
                    margin-top: 34px;
                    margin-bottom: 11px;
                    @include inter-font(12px, 600);
                    color: #A6A6A8;
                } 
                .calendar-section {
                    display: flex;
                }
                .calendar-button {
                    width: fit-content;
                    height: 32px;
                    padding-left: 10px;
                    background-color: $primary-light-color;
                    border: 1px solid $primary-dark-color;
                    border-radius: 5px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    &:not(:last-child) {
                        margin-right: 16px;
                    }
                    .calendar-button-text {
                        @include inter-font(14px);
                        color: $primary-dark-color;
                        margin-left: 5px;
                        margin-right: 10px;
                    }
                    &:active {
                        transform: translateY(3px);
                        background-color: #DB6861;
                    }
                }
            }
            .internal-session-signup {
                margin-bottom: 10px;
                .signup-section-label {
                    margin-top: 34px;
                    margin-bottom: 11px;
                    @include inter-font(12px, 600);
                    color: #A6A6A8;
                }
                .internal-signup-button {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    text-decoration: none;
                    border: 1px solid $primary-dark-color;
                    border-radius: 5px;
                    &:active {
                        background-color: #DB6861;
                    }
                }
                .internal-signup-button-text {
                    margin: 15px 10px 15px 10px;
                    @include inter-font(14px);
                    color: $primary-dark-color;  
                }
            }
            &.preview-revealed, &.fully-expanded {
                max-height: 500px;
                margin-top: 20px;
                margin-bottom: 20px;
                padding-bottom: 5px;
            }
        }
        .speaker-info {
            display: flex;
            margin-left: 150px;
            margin-right: 130px;
            max-height: 0;
            overflow: hidden;
            transition: all 0.5s 0.1s ease-in-out;
            &.info-expanded {
                max-height: 1000px;
                padding-bottom: 5px;
                padding-top: 18px;
                margin-bottom: 22px;
                border-top: 0.5px solid rgba(0, 0, 0, 0.25);
            }
            .avatar {
                img {
                    width: 50px;
                    height: 50px;
                }
                margin-right: 20px;
            }
            .bio {
                .profile {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 18px;
                }
                .social-media {
                    & a + a {
                        margin-left: 10px;
                    }
                    white-space: nowrap;
                }
                .background {
                    display: flex;
                    .title {
                        @include inter-font(18px, 600);
                        letter-spacing: -1px;
                    }
                    .company {
                        @include inter-font(18px, 400);
                        opacity: 0.4;
                        margin-left: 16px;
                        padding-left: 16px;
                        letter-spacing: -1px;
                        border-left: 2px solid grey;
                    }
                }
                .text-bio {
                    color: $primary-dark-color;
                    @include inter-font(16px);
                    opacity: 0.6;
                    line-height: 20px;
                }
            }
        }
    }

    .control-button {
        position: absolute;
        top: 25px;
        right: 50px;
        opacity: 0;
        cursor: pointer;
        transition: all 0.3s 0.2s ease-in-out;
        &.button-revealed {
            opacity: 1;
        }
        &.close-button {
            transform: rotate(180deg);
        }
    }
}