:root {
    --brand-color-black: #1A1126;
    --brand-color-purple: #7B5CB2;
    --brand-color-blue: #69ADF8;
    --brand-color-light-blue:#82DEFF;
    --brand-color-silver: #E2EEFF;
    --dark-brand-color: ;
    --sapBackgroundContrastColor: ;
    --sapTextColor: #f5f6f7;
    --sapLinkColor: ;
    --textColor: #fff;
    --sapTextSecondaryColor: #c4c4c4;
    --successColor: #30914c;
  }
  