<app-mobile-animation></app-mobile-animation>
<div class="container" *ngIf="!playAnimation">
    <app-mobile-navbar (sideMenuToggled)="handleSideMenuToggle($event)">
        <div class="navbar">
            <div class="nav-box top" data-page="animation" (click)="scroll(animation)"><div class="dot"></div></div>
            <div class="nav-box" data-page="date" (click)="scroll(date)">DATE/TIME</div>
            <div class="nav-box" data-page="info" (click)="scroll(info)">INFO</div>
            <div class="nav-box" data-page="speaker" (click)="scroll(speaker)">SPEAKER</div>
        </div>
    </app-mobile-navbar>
    <div class="content">
        <div class="block" [ngClass]="{'half-size': halfSize}"></div>
        <section id="animation" #animation>
            <img class="block1" src="../../assets/FC_Identity_LG-Bloc1.png" alt="animation block">
            <img class="block2" src="../../assets/FC_Identity_LG-Bloc2.png" alt="animation block">
            <img class="block-c" src="../../assets/FC_Identity_LG-C.png" alt="animation block">
            <img class="block-f" src="../../assets/FC_Identity_LG-F.png" alt="animation block">
            <img class="block-name" src="../../assets/FC_Identity_LG-Name.png" alt="animation block">
        </section>
        <section id="date" #date>
            <div class="separator"></div>
                <span class="label">DATE</span><br>
                <div class="date-row">
                    <span class="date-display">{{ conferenceDate }}</span>
                    <span class="superscript">2021</span>
                </div>
            <div class="separator"></div>
                <div class="time-row-label">
                    <div class="time-label">TIME</div>
                    <div class="timezone-label">{{ timezone }}</div>
                </div>
                <div class="date-row">
                    <span class="time-display" [ngClass]="{'fraction': timeFraction}">{{ conferenceTime }}</span>
                </div>
            <div class="separator"></div>
                <span class="label">ABOUT</span>
                <p class="intro">
                    A global virtual conference aiming to start a conversation concerning the future of front-end and 
                    design in the context of open-source, enterprise, cloud, development experience, inclusion, 
                    and user experience.
                </p>
            <div class="separator"></div>
        </section>
        <section id="info" #info>
            <div class="separator">
                <img class="gradient-ball" src="../../assets/GradientEllipse.png" alt="gradient-ball">
            </div>
            <div class="cards">
                <div class="card-header card-header1">Worldwide Online Event</div>
                <div class="card-content card-content1">
                    <img class="card-image" src="../../assets/FC_Worldwide.png" alt="worldwide online">
                    <div class="dash-separator"></div>
                    <span class="image-label">Browser-based</span>
                </div>
                <div class="card-header card-header2">Open Audience</div>
                <div class="card-content card-content2">
                    <img class="card-image" src="../../assets/FC_Audience.png" alt="open audience">
                    <div class="dash-separator"></div>
                    <span class="image-label">Available Internally & Externally</span>
                </div>
                <div class="card-header card-header3">Pre-recorded & Live Sessions</div>
                <div class="card-content card-content3">
                    <img class="card-image" src="../../assets/FC_Sessions.png" alt="sessions">
                </div>     
            </div>
            <div class="separator">
                <img class="gradient-ball" src="../../assets/GradientEllipse.png" alt="gradient-ball">
            </div>
        </section>
        <section id="speaker" #speaker>
            <div class="separator">
                <span class="label">SPEAKERS</span>
            </div>
            <div class="wheel">
                <div class="slot" *ngFor="let speaker of speakers">
                    <div class="photo">
                        <img [src]='getImgSrc(speaker.name)' alt="speaker portrait">
                    </div>
                    <div class="intro-card">
                        <div class="label">
                            <div class="id-label">{{ speaker.id }}</div>
                            <div class="count-label">/ {{ totalNumSpeaker }}</div>
                        </div>
                        <div class="name">{{ speaker.name }}</div>
                        <div class="speaker-title">{{ speaker.title }}</div>
                    </div>
                </div>
            </div>
            <div class="agenda">
                <button routerLink="/agenda">View Agenda</button>
            </div>
        </section>
    </div>
    <app-mobile-footer></app-mobile-footer>
</div>

<app-side-menu
    *ngIf="!playAnimation"
    [sideMenu]="sideMenu"
    [halfSize]="halfSize">
    <span class="side-menu-label" routerLink="/agenda">Agenda</span>
</app-side-menu>