@use '../../theme/theme.scss' as *;

$fullsize-menu: 75px;
$halfsize-menu: 50px;
$navbar: 60px;

.navbar {
    height: $navbar;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include overpass-mono-font(16px);
    margin-bottom: 1px;
    .nav-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        border: 1px solid $primary-dark-color;
        padding: 0 10vw 0 10vw;
        &.active {
            color: $primary-light-color;
            background-color: $primary-dark-color;
        }
        @media screen and (max-width: 640px) {
            padding: 0 14px 0 14px;
        }
    }
    .top {
        width: 44px;
        padding: 0;
        .dot {
            height: 9px;
            width: 9px;
            border-radius: 50%;
            background-color: $primary-dark-color;
        }
        &.active {
            .dot {
                background-color: $primary-light-color;
            }
        }
    }
}

#date {
    .separator {
        border: 1px solid $border-color;
        margin-left: 14px;
        margin-right: 14px;
        &:not(:first-child) {
            margin-top: 17px;
        }
        &:not(:last-child) {
            margin-bottom: 9px;
        }
    }
    .label {
        margin-left: 21px;
        @include overpass-mono-font(14px);
    }
    .date-row {
        display: flex;
        align-items: flex-start;
        margin-top: 5px;
    }
    .date-display {
        @include inter-font(44px, 500);
        margin-left: 21px;
    }
    .time-display {
        @include inter-font(44px, 500);
        margin-left: 21px;
        margin-top: 5px;
        &.fraction {
            font-size: 35px;
        }
    }
    .time-row-label {
        padding: 0 21px 0 21px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .time-label {
            @include overpass-mono-font(14px);
        }
        .timezone-label {
            @include inter-font(14px);
            color: $primary-dark-color;
            opacity: 0.6;
        }
    }
    .superscript {
        @include inter-font(16px, 500);
        margin-left: 4px;
    }
    .intro {
        @include inter-font(22px, 500);
        margin: 5px 21px 0 21px;
        line-height: 27px;
    }
}

#info {
    .separator {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gradient-ball {
        height: 27px;
        width: 27px;
        animation: rotating 2s linear infinite;
        z-index: -1;
    }
    .cards {
        display: flex;
        flex-direction: column;
    }
    .card-header {
        height: 65px;
        display: flex;
        justify-content: center;
        color: $primary-light-color;
        @include inter-font(16px, 500);
        padding-top: 25px;
        z-index: -1;
        position: sticky;
    }
    .card-header1 {
        top: calc(#{$halfsize-menu} + #{$navbar});
    }
    .card-header2 {
        top: calc(#{$halfsize-menu} + #{$navbar} + 65px);
    }
    .card-header3 {
        top: calc(#{$halfsize-menu} + #{$navbar} + 130px);
    }
    .card-header1, .card-content1 {
        background-color: #DB6861;
    }
    .card-header2, .card-content2 {
        background-color: #CF476D;
    }
    .card-header3, .card-content3 {
        background-color: #654276;
    }
    .card-content {
        height: 310px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: -2;
    }
    .card-image {
        height: 250px;
        width: 240px;
    }
    .dash-separator {
        width: 20px;
        border: 1px solid $primary-light-color
    }
    .image-label {
        @include inter-font(16px);
        color: $primary-light-color;
        margin-top: 10px;
    }
}

#speaker {
    z-index: -1;
    .separator {
        width: 100%;
        padding: 6px 0 6px 0;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }
    .label {
        @include overpass-mono-font(14px);
        margin-left: 21px;
    }
    .wheel {
        height: 420px;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
    }
    .slot {
        height: 100%;
        width: 316px;
        flex-shrink: 0;
        &:not(:last-child) {
            margin-right: 7px;
        }
        position: relative;
        scroll-snap-align: start;
    }
    .photo {
        height: 345px;
        img {
            width: 100%;
            height: 345px;
        }
    }
    .intro-card {
        height: 89px;
        width: 286px;
        padding: 8px 0 0 12px;
        border: 1px solid #000000;
        background-color: $primary-light-color;
        border-radius: 10px;
        margin-top: -29px;
        margin-left: 16px;
        position: absolute;
        .label {
            display: flex;
            align-items: flex-end;
            margin-left: 0;
        }
        .id-label {
            @include inter-font(14px);
            opacity: 0.6;
        }
        .count-label {
            @include inter-font(10px);
            margin-left: 4px;
            opacity: 0.6;
        }
        .name {
            @include inter-font(22px, 500);
            margin-top: 7px;
        }
        .speaker-title {
            @include inter-font(16px);
            margin-top: 2px;
            opacity: 0.6;
        }
    }
    .agenda {
        height: 100px;
        text-align: center;
        button {
            width: 202px;
            height: 46px;
            border-radius: 23px;
            margin-top: 20px;
            margin-bottom: 39px;
            @include inter-font(18px);
            color: $primary-light-color;
            background-color: #DC6962;
        }
    }
}

::ng-deep .side-menu-label {
    color: $primary-light-color;
    @include inter-font(44px, 500);
}

.block {
    height: calc(#{$navbar} + #{$fullsize-menu});
    transition: all $side-menu-transition-time ease;
    &.half-size {
        height: calc(#{$navbar} + #{$halfsize-menu});
    }
}

#animation {
    position: relative;
    height: 50vh;
    margin-bottom: 60px;
    overflow: hidden;
    img {
        position: absolute;
    }
    .block1 {
        height: 7vw; width: 7vw; left: 15vw; top: 7.5vw;
    }
    .block2 {
        height: 7vw; width: 7vw; left: 55vw; top: 4vw;
    }
    .block-c {
        height: 90%; width: 60%; top: 8vw; left: 45%; z-index: 5;
    }
    .block-f {
        height: 80%; width: 50%; top: 1vw; left: 3vw;
    }
    .block-name {
        width: 40%; bottom: 0;
    }
    @media screen and (max-width: 640px) {
        .block1 {
            height: 37px; width: 33px; left: 59px; top: 35px;
        }
        .block2 {
            height: 42px; width: 38px; left: 60%; top: 20px;
        }
        .block-c {
            height: 240px; width: 240px; top: 25%; left: 45%;
        }
        .block-f {
            height: 240px; width: 233px; top: 14px;
        }
        .block-name {
            height: 50px; width: 193px; top: 80%; left: 0;
        }
    }
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
